name: iOS Artefact Build

on:
  workflow_dispatch: #

jobs:
  build:
    runs-on: macos-latest
    permissions:
      contents: write  # Grants permission to push code and manage releases
      pull-requests: write # Grants permission to write pull requests

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Create Library Folder and Create Swift Library
        run: |
          cd ./artefacts/swift-artefact/
          rm -rf ios-tuvali-library
          mkdir ios-tuvali-library
          cd ios-tuvali-library
          swift package init --type library
          rm -rf /ios-tuvali-library

      - name: Edit Package.swift
        run: |
          cp ./artefacts/swift-artefact/Package.swift ./artefacts/swift-artefact/ios-tuvali-library/Package.swift

      - name: Build Swift Package
        run: |
          cd ./artefacts/swift-artefact/ios-tuvali-library
          swift package clean
          swift package update
          brew install zlib
          swift build -c debug -Xlinker -L/usr/local/lib

      - name: Move  required files
        run: |
          cp -R ./ios/Wallet ./artefacts/swift-artefact/ios-tuvali-library/Sources/ios-tuvali-library
          cp -R ./ios/ble ./artefacts/swift-artefact/ios-tuvali-library/Sources/ios-tuvali-library
          cp -R ./ios/crypto ./artefacts/swift-artefact/ios-tuvali-library/Sources/ios-tuvali-library
          cp -R ./ios/common ./artefacts/swift-artefact/ios-tuvali-library/Sources/ios-tuvali-library



      - name: Configure Git
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      - name: Commit Artifacts
        run: |
          git add .
          git commit --allow-empty -m "chore(#891): changes in script"

      - name: Push Changes to Specific Branch
        run: |
          git pull origin --rebase
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
