name: iOS Artifact Build

on:
  workflow_dispatch:
    inputs:
      message:
        description: 'Message for manually triggering'
        required: false
        default: 'Triggered for Updates'
        type: string

jobs:
  build:
    if: "${{ !contains(github.ref, 'master') && github.event_name != 'pull_request' &&  github.event_name == 'workflow_dispatch' }}"
    runs-on: macos-latest
    permissions:
      contents: write  # Grants permission to push code and manage releases

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Create Library Folder and Create Swift Library
        run: |
          cd ./artifacts/swift-artifact/
          rm -rf ios-tuvali-library
          mkdir ios-tuvali-library
          cd ios-tuvali-library
          swift package init --type library
          rm -rf /ios-tuvali-library

      - name: Edit Package.swift
        run: |
          cp ./artifacts/swift-artifact/Package.swift ./artifacts/swift-artifact/ios-tuvali-library/Package.swift

      - name: Build Swift Package
        run: |
          cd ./artifacts/swift-artifact/ios-tuvali-library
          swift package clean
          swift package update
          brew install zlib
          swift build -c debug -Xlinker -L/usr/local/lib

      - name: Move  required files
        run: |
          cp -R ./ios/Wallet ./artifacts/swift-artifact/ios-tuvali-library/Sources/ios-tuvali-library
          cp -R ./ios/ble ./artifacts/swift-artifact/ios-tuvali-library/Sources/ios-tuvali-library
          cp -R ./ios/crypto ./artifacts/swift-artifact/ios-tuvali-library/Sources/ios-tuvali-library
          cp -R ./ios/common ./artifacts/swift-artifact/ios-tuvali-library/Sources/ios-tuvali-library
          
      - name: Configure Git
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      - name: Commit Artifacts
        run: |
          git add .
          git commit --allow-empty -m "chore(#891): changes in script"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5.0.2
        with:
          commit-message: creating swift artifact
          title: Release changes
          body: Automated PR for swift artifact build.
          branch: "update-ios-artifact"
          delete-branch: true
          base:${{ github.head_ref }}
          token: ${{ secrets.ACTION_PAT }}
          signoff: true

      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,message,author,commit,workflow,job # selectable (default: repo,message)
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_INJI_TEAM }}
        if: "${{ github.event_name != 'pull_request' && failure() }}"
  
